MyClient/MyClientConsole/Service References/MySrvRefOnIIS/MyServiceOnIIS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLib.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLib.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="SvcReturnMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ex" nillable="true" type="q1:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SvcReturnMsg" nillable="true" type="tns:SvcReturnMsg" />
</xs:schema>