MyClient/MyClientConsole/Service References/MySrvRefOnIIS/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLib.Query" />
      <xsd:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ModelLib.Util" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CountriesService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetTopper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopper" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetTopper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopperResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetMax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMax" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetMax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSorted" />
  </wsdl:message>
  <wsdl:message name="CountriesService_GetSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_CountriesGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CountriesGetAll" />
  </wsdl:message>
  <wsdl:message name="CountriesService_CountriesGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountriesGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_CountrySave_InputMessage">
    <wsdl:part name="parameters" element="tns:CountrySave" />
  </wsdl:message>
  <wsdl:message name="CountriesService_CountrySave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountrySaveResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_MultiplyInt_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyInt" />
  </wsdl:message>
  <wsdl:message name="CountriesService_MultiplyInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyIntResponse" />
  </wsdl:message>
  <wsdl:message name="CountriesService_MultiplyDouble_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDouble" />
  </wsdl:message>
  <wsdl:message name="CountriesService_MultiplyDouble_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDoubleResponse" />
  </wsdl:message>
  <wsdl:portType name="CountriesService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetData" message="tns:CountriesService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetDataResponse" message="tns:CountriesService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetMessage" message="tns:CountriesService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetMessageResponse" message="tns:CountriesService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetResult" message="tns:CountriesService_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetResultResponse" message="tns:CountriesService_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetTopper" message="tns:CountriesService_GetTopper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetTopperResponse" message="tns:CountriesService_GetTopper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetMax" message="tns:CountriesService_GetMax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetMaxResponse" message="tns:CountriesService_GetMax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/GetSorted" message="tns:CountriesService_GetSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/GetSortedResponse" message="tns:CountriesService_GetSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountriesGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/CountriesGetAll" message="tns:CountriesService_CountriesGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/CountriesGetAllResponse" message="tns:CountriesService_CountriesGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountrySave">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/CountrySave" message="tns:CountriesService_CountrySave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/CountrySaveResponse" message="tns:CountriesService_CountrySave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyInt">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/MultiplyInt" message="tns:CountriesService_MultiplyInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/MultiplyIntResponse" message="tns:CountriesService_MultiplyInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <wsdl:input wsaw:Action="http://tempuri.org/CountriesService/MultiplyDouble" message="tns:CountriesService_MultiplyDouble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CountriesService/MultiplyDoubleResponse" message="tns:CountriesService_MultiplyDouble_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_CountriesService" type="tns:CountriesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopper">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetTopper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMax">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap:operation soapAction="http://tempuri.org/CountriesService/GetSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountriesGetAll">
      <soap:operation soapAction="http://tempuri.org/CountriesService/CountriesGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySave">
      <soap:operation soapAction="http://tempuri.org/CountriesService/CountrySave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyInt">
      <soap:operation soapAction="http://tempuri.org/CountriesService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap:operation soapAction="http://tempuri.org/CountriesService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_CountriesService" binding="tns:BasicHttpBinding_CountriesService">
      <soap:address location="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>