WCF.Employees/WCF.Employees.Client/Service References/EmpServiceReference/Emp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Emp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20529/Emp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20529/Emp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20529/Emp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Employees.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmp_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmp_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmp_GetSalaryHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryHistory" />
  </wsdl:message>
  <wsdl:message name="IEmp_GetSalaryHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmp_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmp_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmp">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmp/GetEmployees" message="tns:IEmp_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmp/GetEmployeesResponse" message="tns:IEmp_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmp/GetSalaryHistory" message="tns:IEmp_GetSalaryHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmp/GetSalaryHistoryResponse" message="tns:IEmp_GetSalaryHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmp/SaveEmployee" message="tns:IEmp_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmp/SaveEmployeeResponse" message="tns:IEmp_SaveEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmp" type="tns:IEmp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmp/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryHistory">
      <soap:operation soapAction="http://tempuri.org/IEmp/GetSalaryHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmp/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Emp">
    <wsdl:port name="BasicHttpBinding_IEmp" binding="tns:BasicHttpBinding_IEmp">
      <soap:address location="http://localhost:20529/Emp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>