WCF.Employees/WCF.Employees.Client/Service References/EmpServiceReference/Emp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Employees.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Employees.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalaryHistories" nillable="true" type="tns:ArrayOfSalaryHistory">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfSalaryHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaryHistory" nillable="true" type="tns:SalaryHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaryHistory" nillable="true" type="tns:ArrayOfSalaryHistory" />
  <xs:complexType name="SalaryHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="Seq" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaryHistory" nillable="true" type="tns:SalaryHistory" />
</xs:schema>