WCF.HR.Oracle/WCF.HR.WebApp/Service References/HRServiceReference/HR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HR" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32616/SvcHR.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32616/SvcHR.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32616/SvcHR.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.HR.Service.Lib.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHR_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IHR_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IHR_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IHR_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHR_SaveSalaryHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSalaryHistory" />
  </wsdl:message>
  <wsdl:message name="IHR_SaveSalaryHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSalaryHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IHR_Hola_InputMessage">
    <wsdl:part name="parameters" element="tns:Hola" />
  </wsdl:message>
  <wsdl:message name="IHR_Hola_OutputMessage">
    <wsdl:part name="parameters" element="tns:HolaResponse" />
  </wsdl:message>
  <wsdl:portType name="IHR">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IHR/GetEmployees" message="tns:IHR_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHR/GetEmployeesResponse" message="tns:IHR_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHR/SaveEmployee" message="tns:IHR_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHR/SaveEmployeeResponse" message="tns:IHR_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSalaryHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IHR/SaveSalaryHistory" message="tns:IHR_SaveSalaryHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHR/SaveSalaryHistoryResponse" message="tns:IHR_SaveSalaryHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hola">
      <wsdl:input wsaw:Action="http://tempuri.org/IHR/Hola" message="tns:IHR_Hola_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHR/HolaResponse" message="tns:IHR_Hola_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHR" type="tns:IHR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IHR/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IHR/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSalaryHistory">
      <soap:operation soapAction="http://tempuri.org/IHR/SaveSalaryHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hola">
      <soap:operation soapAction="http://tempuri.org/IHR/Hola" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HR">
    <wsdl:port name="BasicHttpBinding_IHR" binding="tns:BasicHttpBinding_IHR">
      <soap:address location="http://localhost:32616/SvcHR.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>