WCF.HR.Oracle/WCF.HR.WebApp/Service References/HRServiceReference/SvcHR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.HR.Service.Lib.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.HR.Service.Lib.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeContract" nillable="true" type="tns:EmployeeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeContract" nillable="true" type="tns:ArrayOfEmployeeContract" />
  <xs:complexType name="EmployeeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPct" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ManagerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeContract" nillable="true" type="tns:EmployeeContract" />
</xs:schema>