MEP_Micro/MEP.Client/Service References/MEPServiceReference/MEP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18946/MEP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MEP.Service.Contract" />
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MEP.Service.Contract" minOccurs="0" name="email" nillable="true" type="q1:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MEP.Service.Contract" minOccurs="0" name="returnMsg" nillable="true" type="q2:ReturnMsg" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MEP.Service.Contract" minOccurs="0" name="email" nillable="true" type="q3:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>